@model IEnumerable<Models.Customer>

@{
    ViewData["Title"] = "Index Customer";
}

<h1>Customer</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBanned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BannedReason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BranchCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr class="@(item.CustomerCode == ViewBag.CustomerCode ? "table-success" : "table")">
        <td>
            @Html.DisplayFor(modelItem => item.CustomerCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" @(item.IsBanned ? "checked" : "") disabled>
            </div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BannedReason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BranchCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustomerCode }) |
            @Html.ActionLink("Details", "Details", new { id=item.CustomerCode }) |
            @Html.ActionLink("Ban", "Ban", new { id=item.CustomerCode }) |
            @Html.ActionLink("Unban", "Unban", new { id=item.CustomerCode })
        </td>
    </tr>
}
    </tbody>
</table>